<div class="register-wrapper bg-secondary">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="register-container">
      <div class="register-title">Register</div>
      <div class="register-content">
        <arvan-form-field [control]="form.controls['username']">
          <arvan-label for="registerUser">User</arvan-label>
          <input
            arvanInput
            type="text"
            formControlName="username"
            class="form-control"
            id="registerUser"
            placeholder="Enter user"
          />
        </arvan-form-field>

        <arvan-form-field [control]="form.controls['email']">
          <arvan-label for="registerEmail">Email</arvan-label>
          <input
            arvanInput
            type="email"
            formControlName="email"
            class="form-control"
            id="registerEmail"
            placeholder="Enter email"
          />
        </arvan-form-field>

        <arvan-form-field [control]="form.controls['password']">
          <arvan-label for="registerPassword">Password</arvan-label>
          <input
            arvanInput
            formControlName="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="Password"
          />
        </arvan-form-field>
      </div>

      <div class="register-aciton">
        <button
          *arvanButtonLoading="waiting$ | async"
          type="submit"
          class="btn btn-primary w-100"
          btnCheckbox
          btnCheckboxTrue="1"
          btnCheckboxFalse="0"
        >
          Register
        </button>
        <div class="mt-3">
          Already Registered?
          <a routerLink="/access/login" class="go-to-register">
            <b>Login</b>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
