<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let column of displayedColumns | keyvalue" scope="col">
        {{ column.value }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles$ | async; let i = index">
      <th scope="row">
        <ng-container *ngIf="pagination$ | async as pagination">
          {{ pagination.offset + i + 1 }}
        </ng-container>
      </th>
      <td *ngFor="let column of displayedColumns | keyvalue">
        {{ article[column.key] }}
      </td>

      <td>
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-info dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            ... <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a
                (click)="$event.preventDefault(); onEdit(article)"
                class="dropdown-item"
                href="#"
                >Edit</a
              >
            </li>
            <li role="menuitem">
              <a
                (click)="$event.preventDefault(); onDelete(article)"
                class="dropdown-item"
                href="#"
                >Delete</a
              >
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<arvan-pagination
  (pageChange)="onPageChange($event)"
  [page]="pagination$ | async"
></arvan-pagination>
