/* You can add global styles to this file, and also import other style files */
@import "./bootstrap.scss";

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border-color: $danger;
}
